$background-color:  #9c4274;
$date-color:       rgba(255, 255, 255, 0.7);;

.widget-time {

  .date {
    color: $date-color;
  }

  .time {
    font-size: 65px;
  }

  background-color: $background-color;

}
