$background-color:  #4d6078;
$label-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$value-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

.widget-plex {

  background-color: $background-color;
  vertical-align: top;

  .header {
    color: $title-color;
  }

  ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label, .value {
    font-size: 18px;
  }

  .label {
    color: $label-color;
    font-weight: 600;
  }

  .value {
    float: right;
    margin-left: 12px;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.5);
  }

}
