$background-color: #ec663c;
$title-color: #fff;
$artist-color: rgba(255, 255, 255, 0.7);;
$duration-color: rgba(255, 255, 255, 0.7);

.widget-sonos {

  background-color: $background-color;

  .artist, .room {
    color: $artist-color;
  }

  .title {
    font-size: 30px;
    color: $title-color;
  }

  .album {
    color: $artist-color;
    font-style: italic;
  }

  .duration {
    font-size: 18px;
    color: $duration-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.5);
  }

}
